.banner {
  position: relative !important;
  height: 90vh;
  min-height: 600px;
  padding-top: 0;
  background-color: var(--lite-green);
  /* background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.604),
      rgba(0, 0, 0, 0.604)
    ),
    url("../../assets/home-img.jpg") center/cover no-repeat; */
  padding: 0 2rem;
  color: var(--main-black);
}
.trusted-companies {
  display: flex;
  align-items: center;
}
.trusted-company {
  margin: 0 2rem 0 0;
}
/* FOR VERTICAL CENTERING OF CONTENT */
.banner-content {
  /* height: 80vh;
  position: relative; */
  padding: 10rem 0 0 0rem;
  /* margin: 0 auto; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left {
  /* width: 300px;
  position: absolute;
  top: 30%; */
  width: 500px;
}
.banner-left span {
  color: var(--dark-green);
}
.banner-img-div {
  /* width: 80%; */
  width: 600px;
}
.banner-img-div img {
  width: 100%;
}
.banner-right {
  /* margin-left: 120px; */
}
.banner-left h1 {
  font-size: 3.5rem;
}
.banner-left p {
  padding: 1rem 0 2rem 0;
  line-height: var(--line-height);
}
form {
  border-radius: 50px;
}
.form-group {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 50px;
}
.input-with-icon {
  position: relative;
}
.search-icon {
  color: var(--main-black) !important;
}
.circle-icon {
  color: var(--main-black) !important;
}
.input-with-icon .location-icon {
  position: absolute;
  top: 15px;
  left: 0;
  margin: 0 2rem;
  /* padding: 9px 16px; */
}

.input-with-icon input[type="text"] {
  padding-left: 45px;
  width: 180px;
}
.input-no-icon input[type="text"] {
  /* padding: 1.5rem 2rem 1.5rem 2rem; */
  padding: 1.5rem 2rem;
  width: 270px;
  border-right: none;
  border-radius: 50px 0 0 50px;
}
.banner-search-btn {
  padding: 1.2rem 2rem;
  border-radius: 0 50px 50px 0;
  border: none;
  background-color: var(--dark-green);
}
input[type="text"],
input[type="email"] {
  /* padding: 1.5rem 13rem; */
  padding: 1.5rem 0;
  /* background-color: var(--darkGrey); */
  /* border-radius: 0.8rem; */
  /* border-radius: 0px 5px 5px 0px; */
  border: solid 1px var(--main-grey);
  color: var(--main-black);
  /* font-size: 2rem; */
  /* width: 300px; */
}
.input-with-icon .circle-icon {
  position: absolute;
  top: 20px;
  left: 0;
  /* background-color: var(--main-black) !important; */
  color: #de00a6 !important;
  margin: 0 2rem;
  /* padding: 9px 16px; */
  font-size: 1.5rem !important;
}
.form-div {
  /* margin: 0 5rem 0 0; */
  margin: 4rem 0;
}
/* TABLET */
@media screen and (min-width: 768px) {
  /* .banner-left {
    width: 500px;
    position: absolute;
    top: 35%;
  } */
}
/* LAPTOP */
@media (min-width: 993px) {
  .banner-container {
    max-width: 117rem;
    margin: 0 auto;
  }
  /* .banner-left {
    width: 500px;
    position: absolute;
    top: 35%;
  } */
  .banner-left h1 {
    font-size: 5rem;
  }
}
