.banner {
  position: relative !important;
  height: 90vh;
  min-height: 600px;
  padding-top: 0;
  background-color: var(--lite-green);
  /* background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.604),
      rgba(0, 0, 0, 0.604)
    ),
    url("../../assets/home-img.jpg") center/cover no-repeat; */
  padding: 0 2rem;
  color: var(--main-white);
}
/* FOR VERTICAL CENTERING OF CONTENT */
.banner-content {
  /* height: 80vh;
  position: relative; */
  padding: 10rem 0 0 0rem;
  /* margin: 0 auto; */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left {
  /* width: 300px;
  position: absolute;
  top: 30%; */
  width: 500px;
}
.banner-img-div {
  /* width: 80%; */
  width: 600px;
}
.banner-img-div img{
  width: 100%;
}
.banner-right {
  /* margin-left: 120px; */
}
.banner-left h1 {
  font-size: 3.5rem;
}
.banner-left p {
  padding: 1rem 0 2rem 0;
}

/* TABLET */
@media screen and (min-width: 768px) {
  /* .banner-left {
    width: 500px;
    position: absolute;
    top: 35%;
  } */
}
/* LAPTOP */
@media (min-width: 993px) {
  .banner-container {
    max-width: 117rem;
    margin: 0 auto;
  }
  /* .banner-left {
    width: 500px;
    position: absolute;
    top: 35%;
  } */
  .banner-left h1 {
    font-size: 5rem;
  }
}
