.banner {
  position: relative !important;
  height: 110vh;
  min-height: 600px;
  padding-top: 0;
  background: url("../../assets/banner-transparent-green.svg") no-repeat;
  /* object-fit: contain; */
  /* background-origin: border-box; */
  /* background-position: center; */
  /* MADE SURE THE IMAGE IS CONTAINED IN THE SUPPLIED CONTAINER HEIGHT */
  background-size: contain;
  padding: 0 2rem;
  color: var(--main-black);
}
.trusted-companies {
  display: flex;
  align-items: center;
}
.trusted-company {
  margin: 0 2rem 0 0;
}
.trusted-companies img {
  width: 100%;
}
.banner-content {
  padding: 10rem 0 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.banner-left {
  width: 100%;
  margin: 2rem 0 0 0;
}
.banner-left span {
  color: var(--dark-green);
}
.banner-img-div {
  width: 100%;
}
.banner-img-div img {
  width: 100%;
}
.banner-left h1 {
  font-size: var(--medium-font);
  text-align: center;
}
.banner-left p {
  padding: 1rem 0 2rem 0;
  line-height: var(--line-height);
  text-align: center;
}
form {
  border-radius: 50px;
}
.form-group {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 50px;
}
.input-with-icon {
  position: relative;
}
.search-icon {
  color: var(--main-black) !important;
}
.circle-icon {
  color: var(--main-black) !important;
}
.input-with-icon .location-icon {
  position: absolute;
  top: 15px;
  left: 0;
  margin: 0 2rem;
}

.input-with-icon input[type="text"] {
  padding-left: 45px;
  width: 110px;
}
.input-no-icon input[type="text"] {
  padding: 1.5rem 2rem;
  width: 150px;
  border-right: none;
  border-radius: 50px 0 0 50px;
}
.banner-search-btn {
  padding: 1.2rem 2rem;
  border-radius: 0 50px 50px 0;
  border: none;
  background-color: var(--dark-green);
}
input[type="text"],
input[type="email"] {
  padding: 1.5rem 0;
  border: solid 1px var(--sec-grey);
  color: var(--main-black);
}
input::placeholder {
  color: #c4c4c4 !important;
}
.input-with-icon .circle-icon {
  position: absolute;
  top: 20px;
  left: 0;

  color: #de00a6 !important;
  margin: 0 2rem;

  font-size: 1.5rem !important;
}
.form-div {
  margin: 0rem 0 0rem 0;
}
.trusted-companies-div h4 {
  margin: 0 0 2rem 0;
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .banner-content {
    padding: 10rem 0 0 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-left {
    width: 500px;
    margin: 2rem 0 0 0;
  }
  .banner-left span {
    color: var(--dark-green);
  }
  .banner-img-div {
    width: 400px;
  }
  .input-with-icon input[type="text"] {
    padding-left: 45px;
    width: 180px;
  }
  .input-no-icon input[type="text"] {
    padding: 1.5rem 2rem;
    width: 270px;
    border-right: none;
    border-radius: 50px 0 0 50px;
  }
  .trusted-companies img {
    width: 100%;
  }
  .form-div {
    margin: 0rem 0 0rem 0;
  }
  .banner-left h1 {
    font-size: var(--medium-font);
    text-align: center;
  }
  .banner-left p {
    padding: 1rem 0 2rem 0;
    line-height: var(--line-height);
    text-align: center;
  }
}
/***** LAPTOP *****/

@media (min-width: 993px) {
  .banner-container {
    max-width: 117rem;
    margin: 0 auto;
  }
  .banner-content {
    padding: 10rem 0 0 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .input-with-icon input[type="text"] {
    padding-left: 45px;
    width: 180px;
  }
  .input-no-icon input[type="text"] {
    padding: 1.5rem 2rem;
    width: 270px;
    border-right: none;
    border-radius: 50px 0 0 50px;
  }
  .banner-left h1 {
    font-size: 5rem;
    text-align: left;
  }
  .banner-left p {
    padding: 1rem 0 2rem 0;
    line-height: var(--line-height);
    text-align: left;
  }
  .banner-left {
    width: 500px;
    margin: 0 0 0 0;
  }
  .banner-left span {
    color: var(--dark-green);
  }
  .banner-img-div {
    width: 600px;
  }
  .trusted-companies img {
    width: 100%;
  }
  .form-div {
    margin: 2rem 0 4rem 0;
  }
}
