.get-started {
  height: 40vh;
  background: url("../../assets/lady-smile-rec.svg") center/cover no-repeat;
  border-radius: 30px;
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--main-white);
  padding: 0 8rem;
}
.get-started-content h1 {
  font-size: var(--medium-font);
  letter-spacing: 1px;
}
.get-started-content p {
  margin: 2rem 0;
}
.get-started-btn {
  background-color: var(--dark-green) !important;
  color: var(--main-white) !important;
}
