.items-conte {
  width: 90%;
  height: 200px;
  background-color: aqua;
}
.home-recent h4 {
  color: var(--primary-color);
  font-size: var(--small-font);
}
.recent-flex-start {
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
}
.recent-flex-start h4 {
  font-size: var(--medium-font);
  color: var(--dark-grey);
}
.more-flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--primary-color);
}
.more-flex-end a {
  text-decoration: none;
  color: var(--primary-color);
}
.more-arrow {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}
.more-arrow span {
  padding: 0 0 0 1rem;
}
