.home-testimonials {
  padding: 4rem 0;
}
.home-testimonials-head {
  text-align: center;
  width: 100%;
  margin: 0 0 3rem 0;
}
.home-slider-container {
  width: 100%;
  margin: 5rem auto 0 auto;
}
.slick-btn-container {
  margin: 0.5rem 0 0 0;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimony-chev {
  margin: 0 0.2rem;
}
.testimonials-small-font {
  font-size: var(--small-font);
  color: var(--primary-color);
}
.testimonials-medium-font {
  font-size: var(--medium-font);
  color: var(--dark-grey);
}

/***** TABLET *****/
@media screen and (min-width: 768px) {
  .home-testimonials-head {
    text-align: center;
    width: 400px;
    margin: 0 auto 3rem auto;
  }
  .testimonials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .home-slider-container {
    width: 98%;
    margin: 7rem auto 0 auto;
  }
  .slick-btn-container {
    margin: 1rem 15rem 0 0;
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .home-testimonials-head {
    text-align: center;
    width: 500px;
    margin: 0 auto 3rem auto;
  }
  .testimonials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .home-slider-container {
    width: 100%;
    margin: 8rem auto 0 auto;
  }
  .slick-btn-container {
    margin: 1rem 33rem 0 0;
  }
}
