.how-it-works {
  padding: 5rem 0;
}

.how-it-works-content {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 4rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how-it-works-img-container {
  width: 100%;
}
.how-it-works-img-container img {
  width: 100%;
  border-radius: 25px;
}

.how-it-works-text-container {
  width: 100%;
  /* margin: 2rem 0 0 0rem; */
  /* text-align: center; */
}
.how-it-works-text-container p {
  padding: 0 0 2rem 0;
}
.how-it-works-title {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto 4rem auto;
}
.how-it-works-title h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 3rem;
  padding: 0 0 2rem 0;
}
.how-it-works-title h4 {
  color: var(--dark-grey);
  text-transform: uppercase;
  font-size: var(--medium-font);
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .how-it-works-content {
    display: flex;
    flex-direction: row;
  }
  .how-it-works-img-container {
    width: 100%;
  }
  .how-it-works-img-container img {
    width: 100%;
    border-radius: 25px;
  }

  .how-it-works-text-container {
    width: 100%;
    margin: 0 0 0 4rem;
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .how-it-works-content {
    display: flex;
    flex-direction: row;
  }
  .how-it-works-img-container {
    width: 100%;
  }
  .how-it-works-img-container img {
    width: 100%;
    border-radius: 25px;
  }

  .how-it-works-text-container {
    width: 100%;
    margin: 0 0 0 8rem;
  }
  .how-it-works-title {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 0 auto 4rem auto;
  }
}
