.testimonials-content p {
  text-align: center;
}

.testimonials-content .testimonials-b {
  text-align: right;
}
.testimonials-img {
  margin: 0 0 2rem 0;
}
.testimonials-img img {
  border-radius: 50%;
  width: 150px;
}
.testimonials-content-text {
  padding: 0 2rem 2rem 2rem;
}
.testimonials-card {
  width: 97%;
  margin: 2rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .testimonials-card {
    width: 400px;
    margin: 2rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .testimonials-card {
    width: 500px;
    margin: 2rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  }
}
