.testimony-content {
  display: flex !important;
  align-items: center;
  /* flex-direction: row !important ; */
}
.testimony-main-text {
  width: 600px;
}
.testimony-role{
  color: var(--main-grey);
}
.testimony-main-text p {
  line-height: var(--line-height);
  font-size: 15px;
}
.testimony-name {
  padding: 3rem 0 2rem 0;
}
.testimony-name p {
  font-weight: bolder;
}
.testimony-content p {
  /* text-align: center; */
}
.quote-div {
  position: absolute;
  top: -140px;
}
.testimony-main-div {
  position: absolute;
  top: -100px;
  left: 90px;
}
.testimony-content .testimony-b {
  /* text-align: right; */
}
.testimony-img {
  margin: 0 0 2rem 0;
}
.testimony-img img {
  /* border-radius: 50%; */
  /* width: 150px; */
}
.testimony-content-text {
  padding: 0 2rem 2rem 8rem;
  position: relative;
}
.testimony-card {
  width: 97%;
  margin: 2rem auto;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .testimony-card {
    /* width: 400px; */
    margin: 2rem auto;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .testimony-card {
    /* width: 500px; */
    margin: 2rem auto;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
  }
}
