.testimony-content {
  display: flex !important;
  align-items: center;
  /* flex-direction: row !important ; */
}

.testimony-content p {
  /* text-align: center; */
}

.testimony-content .testimony-b {
  /* text-align: right; */
}
.testimony-img {
  margin: 0 0 2rem 0;
}
.testimony-img img {
  /* border-radius: 50%; */
  /* width: 150px; */
}
.testimony-content-text {
  padding: 0 2rem 2rem 2rem;
}
.testimony-card {
  width: 97%;
  margin: 2rem auto;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
}
/***** TABLET *****/
@media screen and (min-width: 768px) {
  .testimony-card {
    /* width: 400px; */
    margin: 2rem auto;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .testimony-card {
    /* width: 500px; */
    margin: 2rem auto;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
  }
}
