.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-white);
  color: var(--main-white);
  z-index: 3;
  padding: 0 2rem;
}
.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: .5rem 0rem; */
}
.navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-btn img {
  width: 30px;
  height: 30px;
}
.navbar-btn {
  background: none;
  border: none;
  padding: 0 !important;
  outline: none;
}
.navbar-logo img {
  width: 100%;
}

/***** TABLET *****/
@media screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-white);
    color: var(--main-white);
    z-index: 3;
    padding: 0 2rem;
  }
  .navbar-logo img {
    width: 100%;
  }
}
/***** LAPTOP *****/
@media (min-width: 993px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: var(--main-white);
    z-index: 3;
    padding: 0 2rem;
    transition: all 1s ease;
  }
  /* changes the navbar color upon a particular scroll position */
  .navbar-color {
    background-color: var(--main-white);
    transition: all 1s ease;
  }

  .navbar-container {
    max-width: 117rem;
    margin: 0 auto;
  }
  .navbar-btn {
    display: none;
  }
  .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    transition: all 1s ease;
  }
  .navbar-logo-div {
    margin: 0 0 0 0rem;
  }
  .navbar-logo img {
    width: 100%;
  }
}
